@model Model.Entity.User
@{
    ViewBag.Title = Model.Name;
}

<ol class="breadcrumb">
    <li><a href="~/">User</a></li>
    <li class="active">@(Model.Name)</li>

</ol>

<div class="panel panel-default">
    <div class="panel-heading">Personal information</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.ID</dd>

            <dt>Name</dt>
            <dd>@Model.Name</dd>

            <dt>Position</dt>
            <dd>@Model.Position</dd>

            <dt>Phone</dt>
            <dd>@Model.Phone</dd>

            <dt>Date</dt>
            <dd>@Model.Date</dd>
        </dl>
    </div>
    <div class="form-actions">
        |@Html.ActionLink("Return to list", "Index")
    </div>
</div>

