@using Model.Entity
@model List<Movement>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Js/alertify.min.js"></script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function () {

        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);


            return false;
        });

    });
    
     function MaterialsObtain(Materials) {
         var watchclose = setInterval(function () {
         $("#txtType").val(Materials.MType);
         $("#txtModel").val(Materials.MType);
         $("#MCode").val(Materials.MCode);
     });
</script>

<a style="float:right;" class="btn btn-success" href="~/" target="_blank">Print report</a>

<table id="IndexSearch" class="table">
    <tbody>
        <tr style="font-size:20px;">
            <td>
                Materials Details
                <a href="~/Movement/MaterialsObtain" rel="pop-up">
                    <input class="btn btn-warning btn-lg col-md-12" type="button" name="link_Materials" value="Search Materials" />
                </a>
            </td>
        <tr style="font-size:20px;">

            <td>Type <input style="font-size:20px; font-weight:500;" class="form-control" type="text" id="txtType" readonly required /></td>
            <td>
                Model
                <input style="font-size:20px; font-weight:500;" class="form-control" type="text" id="txtModel" readonly required />
            </td>
        </tr>
        <tr style="font-size:20px;">
            <td style="float:right; vertical-align:middle;">Select dates to search</td>
            <td>
                <div class="form-group col-md-12">
                    <div class="col-md-6">
                        <input id="date1" name="date1" type="date" />
                    </div>
                    <div class="col-md-6">
                        <input id="date2" name="date2" type="date" />
                    </div>
                </div>
            </td>
        </tr>

    </tbody>

</table>

<input class="btn btn-primary btn-lg" type="submit" value="Search" />

<h2>Movement List</h2>

    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Model</th>
            <th>Quantity</th>
            <th>User ID</th>
            <th>Date</th>
        </tr>
        @foreach (var objMovement in Model)
        {
            <tr>
                <th>@objMovement.MMType</th>
                <th>@objMovement.MMModel</th>
                <th>@objMovement.MMQtt</th>
                <th>@objMovement.MMIdOperator</th>
                <th>@objMovement.MMDate1</th>
            </tr>
        }
        <tr></tr>
    </table>

